#bloque_cursos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px 0px;
    flex-wrap: wrap;
}

.flyer_container {
    width: 320px;
    height: 400px;
    background-color: #1c2955;
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
}

.marco {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-image: url('https://seube.filo.uba.ar/sites/seube.filo.uba.ar/files/marco.jpg'); 
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
}

.content-container {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.banner-img-container {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 18px;
    z-index: 10;
}

.banner-img-container img {
    width: 60px;
}

.titulo_flyer {
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.subtitulo_flyer {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.docente_flyer {
    color: white;
    font-size: 16px;
    margin: 15px 0px 5px 0px;
    padding: 0;
}

.detalle_flyer_container {
    display: flex; 
    flex-direction: row; 
    font-size: 15px; 
    gap: 5px;
}

.detalle_flyer {
    color: white;
    margin: 0;
    padding: 0;
}

.division_flyer {
    color: #439caa;
    margin: 0;
    padding: 0;
}

.logo_uba_container {
    display: flex;
    flex-grow: 1;
}

.logo_uba_container img {
    width: 150px;
    height: 31px;
    margin-top: auto;
    margin-bottom: 25px;
}
