@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

body {
    color: #404040;
    text-align: justify;
    font-family: 'Source Sans Pro', 'Franklin Gothic Medium', Arial, sans-serif;
}

a {
    color: #ff0000;
}

p span {
    font-size: 16px;
}

p .selector {
    color: #d9d9d9;
}

h3 {
    background: none !important;
    border-bottom: 1px solid #404040 !important;
    font-family: 'Source Sans Pro', 'Franklin Gothic Medium', Arial, sans-serif;
}
