@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

body {
    font-family: 'Source Sans Pro', 'Franklin Gothic Medium', Arial, sans-serif;
}

a {
    color: #ff0000;
}

p, span {
    color: #404040;
    text-align: justify;
    font-size: 16px;
}

.selector-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
    gap: 10px;
    margin-bottom: 50px;
}

.selector {
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    border-radius: 5px;
    color: #ffffff;
    font-family: Geogrotesque;
    font-size: x-large;
}

.selector:hover {
    transition: all 0.5s ease-in-out;
    opacity: 0.82;
    cursor: pointer;
}

h3 {
    background: none !important;
    border-bottom: 1px solid #404040 !important;
    font-family: 'Source Sans Pro', 'Franklin Gothic Medium', Arial, sans-serif;
}
