
.content {
    background-color: white;
    font-family: 'Bitter';
}

.title {
    color: #1f2654;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}

.selectable {
    display: flex;
    flex-direction: column;
}

.selectable p {
    margin: 0;
}

/* VOLVER BTN */
#return-btn {
    display: flex;
    background-color: #ffa600;
    border: 1px solid #ffa600;
    width: fit-content;
    margin: 0;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    color: #24235c;
    transition: all 0.5s ease-in-out;
}

#return-btn p {
    margin: 0;
}

#return-btn:hover {
    cursor: pointer;
    background-color: transparent;
}

/* OPTIONS */
.option-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.option {
    align-items:center;
    background-color:#49bfaa;
    border-radius:5px;
    color:white;
    display:flex;
    gap:20px;
    justify-content:center;
    padding:10px 20px;
    width:fit-content;
    transition: all 0.5s ease-in-out;
}

.option:hover {
    background-color: #1f2654;
    cursor: pointer;
}

.text-container {
    display:flex;
    flex-direction:column;
    gap:5px;
}

.text-container > p:first-child {
    font-weight: bold;
}

.text-container p {
    margin: 0;
}

.arrow {
    align-items:center;
    display:flex;
    justify-content:center;
    margin:0;
}
