a {
    color: #0098d4;
}

h3 {
    color: #d43c00 !important;
}

.selector {
    background-color: #d43c00;
}




.recuadro {
    background-color: #eeeeee; 
    padding: 10px; 
    text-align: justify;
    margin-bottom: 10px;
}

.convocatoria {
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 80%;
    margin: 30px 0px 30px 10%;
    font-size: large;
    background-color: #0098d4;
    border: 1px solid #0098d4;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
}

.convocatoria:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #ffffff;
    color: #0098d4;
}


.convocatoria-green {
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 80%;
    margin: 30px 0px 30px 10%;
    font-size: large;
    background-color: #00846a;
    border: 1px solid #00846a;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
}

.convocatoria-green:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #ffffff;
    color: #00846a;
}
